# macOS
.DS_Store
# gitlab-ci-local
.gitlab-ci-local
.gitlab-ci-local.yml
# vectorcode
.vectorcode
# neovim
.config/nvim/lazy-lock.json
.config/nvim/lua/settings/private
# local binaries
.local/bin
# local fzf scripts
~/.zshrc.d/fzf
